html, body {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    font-size: small !important;
}

.d-flex.flex-grow-1.overflow-hidden {
    height: 100vh; 
    display: flex;
}



.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DBDBDB;
    padding: 5px 15px;
    border-bottom: 1px solid #dee2e6;
    box-sizing: border-box;
}


.logo {
    height: 25px; 
    margin-right: 5px;
}

.header h1 {
    font-size: 15px;
    color: #222222;
    margin: 0;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 20px; 
}



.icon-group {
    display: flex;

}

.icon-box {
    width: 30px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #ccc; 
}


.bg-gray {
    background-color: #C5C5C5;
}

.bg-white {
    background-color: #FFFFFF;
}

.icon-box i {
    font-size: 20px;
    color: #000; 
}

.profile-list-container, .user-profile {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    /* background-color: #DBDBDB; */
}


.description{
    background-color: #DBDBDB;
    overflow-y: auto;
}

.content {
    background-color: #DBDBDB;
    
}


.collapse {
    border: none;
}

tr.collapse > td {
    border-bottom: none !important;
}

.description-top, .description-bot {
    flex: 1; /* Chia đều chiều cao */
    overflow-y: auto;
    overflow-x: hidden;
    
}


.nav-tabs .nav-link {
    color: black; 
    background-color: #B7B7B6; 
    border: 0 !important;
    border-radius: 0 !important;
    padding: 5px 10px; 
    font-size: 14px;
    
}

.nav-tabs .nav-link.active {
    background-color: #DBDBDB !important; 
    color: black !important; 
}


.nav-tabs {
    position: sticky;
    top: 0;
    background-color: #DBDBDB;
    z-index: 1000;
}


#myTabsContent {
    max-height: 400px; 
    overflow-y: auto;
}





.table-1, .table-2 {
    max-height: 150px; /* Đặt chiều cao tối đa cho bảng */
    overflow-y: auto; /* Thêm cuộn dọc */
    border: none; /* Xóa viền bảng */
}

.table thead {
    background-color: #DBDBDB !important; /* Màu nền tiêu đề */
    position: sticky;
    top: 0; /* Giữ tiêu đề cố định khi cuộn */
    z-index: 2;
}


.toolbar {
    background-color: #DBDBDB;
    padding: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
}
.btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70px; 
}
.btn-wrapper .btn {
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}
.btn-wrapper .text {
    font-size: 12px;
    text-align: center;
    margin-top: 3px;
    max-width: 100%;
    line-height: 1.2;
}

